mat-card {
    border-radius: 32px;
    margin: 10px 10px;
    padding: 20px;
    border-color: #CCCCFF;
}
.mat-card#first-card {
    padding: 0;
}

div#profile-background {
    display: flex;
    z-index: 1;
}
div#profile-background img {
    width: 100%;
    border-radius: 32px 32px 0 0;
}

.profile-image {
    border-radius: 50%;
    width: 152px;
    height: 152px;
    margin-top: -110px;
    z-index: 1;
}
div#info-actions {
    display: flex;
}
div#info-actions button {
    margin-top: 0px;
}
div#info-contact span {
    font-size: 1rem;
    font-weight: 400;
}
div#info-contact span a {
    color: #CCCCFF;
    touch-action: manipulation;
    text-decoration: none;
}
div#info-studies {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.25;
}
div#info-data {
    display: flex;
    justify-content: space-between;
}
div#info-data h1 {
    font-size: 1.8rem;
    display: inline;
    font-weight: 500;
    line-height: 1.25;
    word-wrap: break-word;
    word-break: break-word;
}


